@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    @apply text-base text-black
}

.App {
    @apply flex flex-col justify-between min-h-screen;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    @apply mx-auto px-1
}

.font-jost {
    font-family: "Jost", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.Crop--outline .ReactCrop__crop-selection {
    outline: 2px solid #24459A;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #24459A;
    border-radius: 5px;
    height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #24459A;
    height: 5px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #24459A;
    height: 7px;
    width: 7px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
    background-color: #24459A;
}
